{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <script src="{% static 'js/funcs_home.js' %}"></script>
    {% include 'navbar.html'%}
    <form class="filters" method="post" action="{% url 'load_recipes'%}">
    {% csrf_token %}
      <div class="filters-divs">
        <div>
          <label for=""><i class="bi bi-list-columns-reverse"></i></label>
          <select class="tipo" name="tipo">
            <option value="">Nenhum</option>
            {% for receita in receitas%}
            <option value="{{receita.tipo}}">{{receita.tipo}}</option>
            {% endfor %}
            
          </select>
        </div>
        <div>
          <label for=""><i class="bi bi-calendar-event-fill"></i></label>
            <input type="date" class="data" name="data"/>
          </select>
        </div>
        <div>
          <label for=""><i class="bi bi-bookmark-fill"></i></label>
          <select class="nome" name="nome">
            <option value="">Nenhum</option>
            {% for receita in receitas%}
            <option value="{{receita.nome}}">{{receita.nome}}</option>
            {% endfor %}
            
          </select>
        </div>
      </div>
      <button type="submit"><i class="bi bi-funnel-fill"></i></button>
    </form>
    <main>
      {% for receita in receitas %}
      <div class="recipe">
        <div class="infos-initial">
          <label for="">Nome: {{receita.nome}}</label
          ><label for="">Data: {{receita.data}}</label>
          <label for="">Tipo: {{receita.tipo}}</label>
        </div>
        <div class="manage-buttons">

          <button onclick="open_delete_recipe_popup('{{receita.id}}','{{receita.nome}}')"> <i class="bi bi-trash3-fill"></i></button>
          <button><i class="bi bi-sliders2"></i></button>
          <form action="{% url 'ver_receita'%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{receita.id}}">
            <button>
              <i class="bi bi-box-arrow-in-left">
              </i>
            </button>
          </form>
        </div>
      </div>
      <div class="popup" id="popup">
        <div class="confirmacao" >
          <label for="" id="label-apagar-lista"></label>
          <div class="buttons-confirmacao">
            <form method="post" action="{% url 'apagar_receita'%}" class="delete-recipe">
              {%csrf_token %} 
              <input type="hidden" value="" id="input-apagar_receita" name="id">
              <button type="submit">Sim
              </button>
            </form>
            <button onclick="close_delete_recipe_popup()">Não</button>
          </div>
        </div>
      </div>
      {% endfor %}

    </main>
  </body>
</html>
